modules = ["bash", "nodejs-20", "python-3.11"]

[nix]
channel = "stable-24_05"
packages = ["bc", "glibcLocales", "jq"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 10868327
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./eval.sh"
